.banner{
     /* The image used */
  background-image: url("/public/banner.png");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 900px;
  /* Needed to position the navbar */
  position: relative;
}
.container{
    position: absolute;
    margin: 10px;
    width: auto;
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    font-size: 20px;
    font-family: 'Square Peg';  
}
.navbar-nav .nav-item .nav-link {
color: black;
}